body {
    font-family: Poppins, 'sans serif';
    font-size: 14px;
    color: white;
  }
  
  #bg {
      background-color: #262626;
      text-align: center;
      height: 200px;
      width: 400px;
      margin: auto;
      border: 3px solid black;
      border-radius: 10px;
    
    }  